:root {
	font-family: "DM Sans", sans-serif;
  color: #FFFFFF;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* h1 {
  font-size: 4rem;
  line-height: 4.5rem;
  font-weight: 700;
}

img {
  max-width: 100%;
}

input {
  Padding: .6em 1.5em .6em 1.5em;
  width: 100%;
  border-radius: .625rem;
  outline: none;
  font-weight: 500;
  font-size: 1.5rem;
} */
