/* Styling of the hero section */

.heroSection {
    padding: 5.4em 0em 3.6em 0em;
    background-color: #F5F5F5;
}

.heroText {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto 3.6em;
    border: 1px solid red;
}

.heroHeading {
    width: 90%;
    margin: 0 auto 2.5em;
}

.heroHead {
    text-align: center;
    color: var(--purple-color-110);
    font-size: 4.5rem;
    font-weight: 700;
    border: 1px solid green;
}

.heroSubhead {
    width: 89%;
    margin: 0 auto;
}

.heroSubtext {
    text-align: center;
    color: var(--purple-color-120);
    font-size: 1.5rem;
    font-weight: 400;
    border: 1px solid blue;
}