@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
:root {
  font-family: "DM Sans";
  --purple-color-110: #1B022E;
  --purple-color-120: #10011B;
  --white-color: #FFFFFF;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  font-family: "DM Sans";
}

.container{
  width: 90%;
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}

img {
  max-width: 100%;
}