@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
:root {
  font-family: "DM Sans";
  color: #1B022E;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  font-family: "DM Sans";
}

.container{
  width: 90%;
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}